---
import Layout from "../../layouts/Layout.astro";
import LayoutInicio from "../../layouts/LayoutInicio.astro";

import icambioAceite from "../../img/mantenimiento/imagenMantenimiento1.png"
import iMantoPreventivoMenor from "../../img/mantenimiento/imagenMantenimiento2.png"
import iMantoPreventivoMayor from "../../img/mantenimiento/imagenMantenimiento3.png"
import iDiagMantoFrenos from "../../img/mantenimiento/imagenMantenimiento4.png"
import iCambioPastillas from "../../img/mantenimiento/imagenMantenimiento5.png"
import iAlineacionBalanceo from "../../img/mantenimiento/imagenMantenimiento6.png";
---

<Layout title="Mecanica especializada"> 
    <main>
        <LayoutInicio title="Mecanica especializada">
            
            <div class="px-72">

                <div class="grid grid-cols-2 justify-center py-6">
                    <div>
                       <img src={icambioAceite.src} alt="cambio de aceite" class="mx-auto rounded-lg"> 
                    </div>
                    
                    <div class="grid content-around justify-start border-l-2 border-black pl-5">
                        <h3 class="text-gray-800 font-medium text-2xl">Cambio de aceite</h3>
                        <p>Cambio de aceite (01 gl. 5w30)     |     Cambio de filtro de aceite (01 und.)</p>
                        <p class="text-gray-700 font-light text-base">La importancia del cambio de aceite es lubricar todas las piezas del motor, reducir la fricción, controlar la temperatura y asegurar el rendimiento y vida del motor. Te recomendamos hacerla cada 5.000 para aceite minerales o semi-sintético y 8.000 kilómetros para aceite sintético.</p>
                        <a href=""></a><button class="w-full rounded-xl bg-red-700 py-2 text-white font-semibold leading-6 hover:bg-red-600">COTIZA TU SERVICIO</button></a>
                    </div>
                </div>  

                <div class="grid grid-cols-2 justify-center py-6">
                    <div>
                       <img src={iMantoPreventivoMenor.src} alt="cambio de aceite" class="mx-auto rounded-lg"> 
                    </div>
                    
                    <div class="grid content-around justify-start border-l-2 border-black pl-5">
                        <h3 class="text-gray-800 font-medium text-2xl">Mantenimiento preventivo Menor</h3>
                        <p>Cambio de aceite (sintético, semi sintético y mineral)   |   Arandela de cárter Cambio de filtro de aceite (01 und.)   |   Analizador de batería Revisión y regulación de frenos   |   Revisión de  Luces   |   Fluidos   |   Presión de llantas   |   Líquido limpiaparabrisas   |   Lavado de motor y carrocería</p>
                        <p class="text-gray-700 font-light text-base">Consta de una serie de revisiones que se efectúan en un tiempo determinado para disminuir las probabilidades de fallas o desgastes que amerite una reparación costosa del vehículo.Este servicio debe realizarse cada 5000 km o o según normas del fabricante.</p>
                        <a href=""></a><button class="w-full rounded-xl bg-red-700 py-2 text-white font-semibold leading-6 hover:bg-red-600">COTIZA TU SERVICIO</button></a>
                    </div>
                </div>  

                <div class="grid grid-cols-2 justify-center py-6">
                    <div>
                       <img src={iMantoPreventivoMayor.src} alt="cambio de aceite" class="mx-auto rounded-lg"> 
                    </div>
                    
                    <div class="grid content-around justify-start border-l-2 border-black pl-5">
                        <h3 class="text-gray-800 font-medium text-2xl">Mantenimiento preventivo Mayor</h3>
                        <p>Cambio de aceite (sintético, semi sintético, mineral)   |   Cambio de 01 Filtro de aceite  01 Filtro de aire   |  Cambio de filtro de polen  A/C |  Arandela de cárter   |   Cambio de bujías (de ser necesario) | Limpieza de obturador |   Ajuste con escáner | Desmontaje de inyectores  | Mantenimiento de inyectores |  Revisión y regulación de frenos Analizador de batería   |   Revisión de Luces   |   Fluidos   |   Presión de llantas   |   Líquido limpiaparabrisas   |   Lavado de motor y carrocería</p>
                        <p class="text-gray-700 font-light text-base">Consta de una serie de revisiones que se efectúan en un tiempo determinado para disminuir las probabilidades de fallas o desgastes que amerite una reparación costosa del vehículo.Este servicio debe realizarse cada 5000 km o o según normas del fabricante.</p>
                        <a href=""></a><button class="w-full rounded-xl bg-red-700 py-2 text-white font-semibold leading-6 hover:bg-red-600">COTIZA TU SERVICIO</button></a>
                    </div>
                </div>  

                <div class="grid grid-cols-2 justify-center py-6">
                    <div>
                       <img src={iDiagMantoFrenos.src} alt="cambio de aceite" class="mx-auto rounded-lg"> 
                    </div>
                    
                    <div class="grid content-around justify-start border-l-2 border-black pl-5">
                        <h3 class="text-gray-800 font-medium text-2xl">Diagnóstico y mantenimiento de sistema de frenos</h3>
                        <p>Diagnóstico del estado del disco   |   Reparación del sistema de frenos Rectificación de discos   |   Rectificado de zapatas   |   Regulación de freno de mano.</p>
                        <p class="text-gray-700 font-light text-base">Los discos de frenos tienen un grosor mínimo para su buen funcionamiento, por la fricción con las pastillas de frenos desgastadas, estos puede sufrir de rayones. Para saber el estado del disco hay que estar atento al chirrido que emite al frenar</p>
                        <a href=""></a><button class="w-full rounded-xl bg-red-700 py-2 text-white font-semibold leading-6 hover:bg-red-600">COTIZA TU SERVICIO</button></a>
                    </div>
                </div>  

                <div class="grid grid-cols-2 justify-center py-6">
                    <div>
                       <img src={iCambioPastillas.src} alt="cambio de aceite" class="mx-auto rounded-lg"> 
                    </div>
                    
                    <div class="grid content-around justify-start border-l-2 border-black pl-5">
                        <h3 class="text-gray-800 font-medium text-2xl">Cambio de pastillas de frenos</h3>
                        <p>Diagnóstico del sistema de freno   |   Reparación del sistema de freno. Mantenimiento del sistema de frenos   |   Limpieza del sistema de frenos. Regulación del freno de mano.</p>
                        <p class="text-gray-700 font-light text-base">La función de las pastillas es generar la fricción necesario para que ralentice el movimiento del disco. El cambio de las patillas se debe hacerse entre los 20,000 y 30,000 kms. Las pastillas se gastan más con el uso prolongado  en la ciudad. Además es normal que las pastillas delanteras sean las primeras en desgastarse.</p>
                        <a href=""></a><button class="w-full rounded-xl bg-red-700 py-2 text-white font-semibold leading-6 hover:bg-red-600">COTIZA TU SERVICIO</button></a>
                    </div>
                </div>  
                
                <div class="grid grid-cols-2 justify-center py-6">
                    <div>
                       <img src={iAlineacionBalanceo.src} alt="cambio de aceite" class="mx-auto rounded-lg"> 
                    </div>
                    
                    <div class="grid content-around justify-start border-l-2 border-black pl-5">
                        <h3 class="text-gray-800 font-medium text-2xl">Alineación y balanceo</h3>
                        <p>Ajustes de los ángulos de la llantas   |   Revisar la presión de la llantas</p>
                        <p class="text-gray-700 font-light text-base">Alarga la vida útil de la SUSPENSIÓN y las LLANTAS de tu vehículo. Se recomienda hacerlo cada 10,000 kms para así garantizar tu seguridad y la de tus acompañantes</p>
                        <a href=""></a><button class="w-full rounded-xl bg-red-700 py-2 text-white font-semibold leading-6 hover:bg-red-600">COTIZA TU SERVICIO</button></a>
                    </div>
                </div>  
            </div>
        </LayoutInicio>
    </main>    
</Layout>