---
import logoInnova from '../img/logotipoInnova.png'
import facebook from '../img/footer/facebook.png'
import instagram from '../img/footer/instagram.png'
import youtube from '../img/footer/youtube.png'
import whatsapp from '../img/footer/whatsapp.png'
---

<div class="container bg-black mx-auto max-w-full">
    <div>
        <img src={logoInnova.src} alt="" class="mx-auto py-7">        
    </div>
    <div class="flex justify-around max-sm:flex-col">
        <div class="text-white flex flex-col text-center align-middle items-center">
            <div class="xl:text-3xl lg:text-xl md:text-lg">CONTACTENOS</div>
            <div class="xl:text-2xl lg:text-xl md:text-lg my-4 flex flex-row">
                <img src={whatsapp.src} alt="whatsapp">
                <span class="px-3">980240567</span> 
            </div>
            <div class="xl:text-2xl lg:text-xl md:text-lg my-4 flex flex-row">
                <img src={whatsapp.src} alt="whatsapp">
                <span class="px-3">940105875</span>                 
            </div>
        </div>
        <div class="text-white">
            <div class="text-white flex flex-col text-center">
                <div class="xl:text-3xl lg:text-xl md:text-lg">REDES SOCIALES</div>
                <div class="text-2xl my-8 flex flex-row justify-around">
                    <img src={facebook.src} alt="facebook">
                    <img src={instagram.src} alt="instagram">
                    <img src={youtube.src} alt="youtube">
                </div>
                <div class="text-xl my-8">jerickgm89@gmail.com</div>
            </div>
        </div>
    </div>
    <div class="text-white text-center py-3">
        <span>Ⓡ2023 Creado por Grupo 01 - Desarrollo Web</span>
    </div>
</div>